<head>
    <title><%=stuff.name%></title>
</head>
<body class='bg-info'>
    <%- include('../partials/header.ejs') %>

<div>
<div class= 'container'>
    <div class= 'row-4'>
        <div class = 'col-4'>
    <h1 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;"><%=stuff.name%></h1>
    <img src = <%=stuff.img%> width="400" height="400" style="border: 2px solid black;">
</div>
</div>
</div>
    <div class= 'container'>
        <div class= 'row-3'>
            <div class = 'col'>
    <h2>RECIPE: <%=stuff.recipe%></h2>
    <h2>INSTRUCTIONS: <%=stuff.instructions%></h2>
    <h2>IS IT SPICY?: <%=stuff.isSpicy%></h2>
    <h2>PREP TIME: <%=stuff.prepTime%></h2>
    <h2>SERVING SIZE: <%=stuff.servingSize%></h2>
    
</div>
</div>
</div>
</div>

<div>
   
<!-- <button id='button'><a href="/<%=stuff.id%>">Edit Recipe</a></button>  -->
<div class= 'container'>
    <div class= 'row-3'>
        <div class = 'col'>
<form>
<a href="/<%=stuff.id%>/edit" style="text-decoration: none;" class='btn btn-warning'>Edit Recipe</a>
</form>
<form action='/<%=stuff.id%>?_method=DELETE' method="POST">
    <input type='submit' value='DELETE RECIPE' class='btn btn-danger'/>
</form>

<a href="/" style="text-decoration: none;" class='btn btn-warning'>Return to Recipe Book
</a>
    
</div>
</div>
</div>
</div>
<%- include('../partials/footer.ejs') %>

</body>