<h2> Edit this Recipe</h2>
<form class="form" action="/<%=stuff.id%>?_method=PUT" method="POST">


    <div >
        <label  for="name">Name:</label>
        <input  type='text' name='name' value='<%=stuff.name%>' />
        <label  for="recipe">Recipe:</label>
        <input  type='text' name='recipe' value='<%=stuff.recipe%>'/>
        <label  for="instructions">Instructions:</label>
        <input  type='text' name='instructions' value='<%=stuff.instructions%>'/>
        <label  for="isSpicy">Is it Spicy:</label>
        <input  type='text' name='isSpicy' value='<%=stuff.isSpicy%>'/>
        <label  for="prepTime">Prep Time:</label>
        <input  type='text' name='prepTime' value='<%=stuff.prepTime%>'/>
        <label  for="servingSize">Serving Size:</label>
        <input  type='text' name='servingSize' value='<%=stuff.servingSize%>'/>
        <label  for="img">Image:</label>
        <input  type='text' name='img' value='<%=stuff.img%>'/>
    </div>
    <button >Edit recipe!</button>
    <a href="/">Return to Recipe Book</a>
</form>
